.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}
/* displayMsg styles */
.msg {
  position: fixed;
  background-color: rgb(4, 182, 4);
  border-radius: 5px;
  color: white;
  margin: 0.5rem auto;
  transform: translateX(150vw);
  padding: 0.5rem 4rem 0.5rem 2rem;
  width: auto;
  display: block;
  top: 0.5rem;
  right: 2rem;
  z-index: 150;
  -webkit-animation: msg 0.5s ease forwards;
  animation: msg 0.5s ease forwards;
}

@keyframes msg {
  to {
    transform: translateX(0);
  }
}
@media (max-width: 500px) {
  .msg {
    position: fixed;
    width: 95%;
    margin: auto;
    left: 0;
    right: 0;
    padding: 0.5rem 1.5rem;
    transform: translate(0);
    -webkit-clip-path: inset(0 0 100% 0);
    clip-path: inset(0 0 100% 0);
    animation: sm-msg 0.5s ease forwards;
  }
  @keyframes sm-msg {
    to {
      clip-path: inset(0 0 0 0);
    }
  }
}
